section{
    padding: 0px 55px 0px;
}
.bg-grey1{
    background-color: rgb(5, 5, 61);
}
body{
    background: #343d46;
}
.font-size-25{
    font-size: 25px;
}
.font-size-55{
    font-size: 55px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-20{
    font-size: 20px;
}
.bold{
    font-weight: bold;
}
.border-radius-50{
    border-radius: 50%;
}